<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <!-- On rows -->
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Phoneno</th>
                    <th scope="col">age</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                    
                   
                  </tr>
               
            </thead>
            <tbody>
            {% for i in stu %}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.FirstName}}</td>
                    <td>{{i.LastName}}</td>
                    <td>{{i.Gender}}</td>
                    <td>{{i.Phoneno}}</td>
                    <td>{{i.age}}</td>
                    <td><a href="../update/{{i.id}}">Update</a></td>
                    <td><a href="../delete/{{i.id}}">Delete</a></td>
                    
                </tr>
                {% endfor %}
            </tbody>
            

</table>
    </body>
</html>
